@import url( https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700 );
iframe[id^='twitter-widget-'] {
	width: 100% !important;
}
.smart-grids {
	margin: 0px auto; max-width: 1140px;
}
.smart-wrapper {
	padding: 20px; display: block;
}
.smart-pricing {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
}
.smart-pricing * {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box;
}
.smart-pricing {
	color: rgb(98, 98, 98); line-height: 1.231; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 400;
}
.smart-pricing .pricing-tables {
	display: block; position: relative;
}
.smart-pricing .pricing-tables .colm-list {
	display: block; position: relative;
}
.smart-pricing .pricing-tables::before {
	line-height: 0; display: table; content: "";
}
.smart-pricing .pricing-tables::after {
	line-height: 0; display: table; content: "";
}
.smart-pricing .pricing-tables::after {
	clear: both;
}
.smart-pricing .pricing-tables .colm {
	float: left; position: relative; min-height: 1px;
}
.smart-pricing .separated-tables {
	margin: 0px -10px;
}
.smart-pricing .separated-tables .colm {
	padding-right: 10px; padding-left: 10px;
}
.smart-pricing .six-colm .colm {
	width: 16.66%;
}
.smart-pricing .five-colm .colm {
	width: 20%;
}
.smart-pricing .four-colm .colm {
	width: 25%;
}
.smart-pricing .three-colm .colm {
	width: 33.33%;
}
.smart-pricing .two-colm .colm {
	width: 50%;
}
.smart-pricing .one-colm .colm {
	width: 100%;
}
.smart-pricing .pricing-tables .pricing-header {
	position: relative;
}
.smart-pricing .pricing-tables ul {
	margin: 0px; padding: 0px;
}
.smart-pricing .pricing-tables ul li {
	margin: 0px; padding: 0px;
}
.smart-pricing .pricing-tables .pricing-header h1 {
	margin: 0px; padding: 0px;
}
.smart-pricing .pricing-tables .pricing-header h2 {
	margin: 0px; padding: 0px;
}
.smart-pricing .pricing-tables .pricing-header h1 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif; font-weight: 300;
}
.smart-pricing .pricing-tables .pricing-header h2 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif; font-weight: 300;
}
.smart-pricing .pricing-tables ul {
	list-style-type: none;
}
.smart-pricing .pricing-tables ul li {
	list-style-type: none;
}
.smart-pricing .pricing-tables ul li i {
	margin: 0px 5px; font-size: 14px;
}
.smart-pricing .dark-style .colm-list {
	transition:0.2s; box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.04); -webkit-transition: all 0.2s ease; -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04); -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04); -o-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}
.smart-pricing .elegant-style .colm-list {
	transition:0.2s; box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.04); -webkit-transition: all 0.2s ease; -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04); -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04); -o-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
}
.smart-pricing .dark-style ul {
	margin-left: -1px;
}
.smart-pricing .elegant-style ul {
	margin-left: -1px;
}
.smart-pricing .elegant-style ul {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(210, 210, 210) rgb(210, 210, 210); border-image: none; background-color: rgb(245, 245, 245);
}
.smart-pricing .dark-style ul {
	background: rgb(51, 51, 51); border: 1px solid rgb(0, 0, 0); border-image: none;
}
.smart-pricing .dark-style ul li {
	padding: 12px; text-align: center;
}
.smart-pricing .elegant-style ul li {
	padding: 12px; text-align: center;
}
.smart-pricing .elegant-style ul li {
	color: rgb(102, 102, 102); border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(210, 210, 210); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; text-shadow: 0px 1px rgba(255,255,255,0.9);
}
.smart-pricing .dark-style ul li {
	border-width: 1px; border-style: solid; border-color: rgb(68, 68, 68) rgb(68, 68, 68) rgb(17, 17, 17); border-image: none; color: rgb(208, 208, 208); box-shadow: 0px 1px 2px rgba(0,0,0,0.15); text-shadow: 0px -1px rgba(0,0,0,0.6); background-color: rgb(51, 51, 51); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.smart-pricing .dark-style .pricing-footer {
	padding: 20px; text-align: center; margin-top: -2px; margin-left: -1px;
}
.smart-pricing .elegant-style .pricing-footer {
	padding: 20px; text-align: center; margin-top: -2px; margin-left: -1px;
}
.smart-pricing .elegant-style .pricing-footer {
	border: 1px solid rgb(210, 210, 210); border-image: none; box-shadow: inset 0px 1px #fff, inset 0px 0px 0px 1px rgba(255,255,255,0.5); background-image: linear-gradient(rgb(251, 251, 251), rgb(237, 237, 237)); background-color: rgb(249, 249, 249); -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5); -o-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.smart-pricing .dark-style .pricing-footer {
	border: 1px solid rgb(0, 0, 0); border-image: none; box-shadow: inset 0px 1px #353535, inset 0px 0px 0px 1px rgba(255,255,255,0.1); background-image: linear-gradient(rgb(28, 28, 28), rgb(7, 7, 7)); background-color: rgb(28, 28, 28); -webkit-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.5); -o-box-shadow: inset 0 1px #fff, inset 0 0 0 1px rgba(255, 255, 255, 0.05);
}
.smart-pricing .dark-style .pricing-header {
	text-align: center; margin-left: -1px;
}
.smart-pricing .elegant-style .pricing-header {
	text-align: center; margin-left: -1px;
}
.smart-pricing .pricing-tables .header-colored h1 {
	color: rgb(255, 255, 255);
}
.smart-pricing .pricing-tables .header-colored h2 {
	color: rgb(255, 255, 255);
}
.smart-pricing .dark-style .pricing-header h1 {
	padding: 15px; text-transform: uppercase; letter-spacing: 1px; font-size: 22px; font-weight: 400;
}
.smart-pricing .elegant-style .pricing-header h1 {
	padding: 15px; text-transform: uppercase; letter-spacing: 1px; font-size: 22px; font-weight: 400;
}
.smart-pricing .dark-style .pricing-header h2 {
	padding: 30px 15px; text-transform: uppercase; font-size: 11px; font-weight: 400;
}
.smart-pricing .elegant-style .pricing-header h2 {
	padding: 30px 15px; text-transform: uppercase; font-size: 11px; font-weight: 400;
}
.smart-pricing .dark-style .pricing-header h2 span {
	font-size: 46px; font-weight: 300; display: block;
}
.smart-pricing .elegant-style .pricing-header h2 span {
	font-size: 46px; font-weight: 300; display: block;
}
.smart-pricing .dark-style .pricing-header h2 {
	transition:font-size 0.4s; -webkit-transition: font-size 0.4s; -moz-transition: font-size 0.4s; -o-transition: font-size 0.4s;
}
.smart-pricing .elegant-style .pricing-header h2 {
	transition:font-size 0.4s; -webkit-transition: font-size 0.4s; -moz-transition: font-size 0.4s; -o-transition: font-size 0.4s;
}
.smart-pricing .dark-style .pricing-header h2 span {
	transition:font-size 0.4s; -webkit-transition: font-size 0.4s; -moz-transition: font-size 0.4s; -o-transition: font-size 0.4s;
}
.smart-pricing .elegant-style .pricing-header h2 span {
	transition:font-size 0.4s; -webkit-transition: font-size 0.4s; -moz-transition: font-size 0.4s; -o-transition: font-size 0.4s;
}
.smart-pricing .stripped-tables.dark-style ul li:nth-child(2n) {
	background: rgb(39, 39, 39);
}
.smart-pricing .stripped-tables.elegant-style ul li:nth-child(2n) {
	background: rgb(235, 235, 235);
}
.smart-pricing .pricing-button {
	padding: 0px 2em; border-radius: 3px; border: 0px currentColor; border-image: none; width: 100%; height: 50px; color: rgb(68, 68, 68); font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size: 1.4em; font-weight: 400; text-decoration: none; display: inline-block; cursor: pointer; -ms-zoom: 1; background-color: rgb(221, 221, 221); -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px;
}
.smart-pricing a.pricing-button {
	line-height: 50px;
}
.smart-pricing .pricing-button:hover {
	background: rgb(194, 194, 194);
}
.smart-pricing .pricing-button:active {
	background: rgb(194, 194, 194);
}
.smart-pricing .six-colm .pricing-button {
	font-size: 1em;
}
.smart-pricing .grad-button {
	border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4); border-image: none; box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 0px 0px rgba(255,255,255,0.3); background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1));
}
.smart-pricing .dark-style .grad-button {
	border-width: 1px; border-style: solid; border-color: rgba(225, 225, 225, 0.6) rgba(225, 225, 225, 0.4) rgba(225, 225, 225, 0.08); border-image: none; box-shadow: 0px 1px 2px rgba(0,0,0,0.3), inset 0px 1px 0px 0px rgba(255,255,255,0);
}
.smart-pricing .grad-button:hover {
	background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}
.smart-pricing .grey-btn {
	color: rgb(255, 255, 255); background-color: rgb(144, 144, 144);
}
.smart-pricing .grey-lite {
	color: rgb(255, 255, 255); background-color: rgb(144, 144, 144);
}
.smart-pricing .grey-dark {
	color: rgb(255, 255, 255); background-color: rgb(128, 128, 128);
}
.smart-pricing .grey-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(128, 128, 128);
}
.smart-pricing .black-btn {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.smart-pricing .black-lite {
	color: rgb(255, 255, 255); background-color: rgb(51, 51, 51);
}
.smart-pricing .black-dark {
	color: rgb(255, 255, 255); background-color: rgb(34, 34, 34);
}
.smart-pricing .black-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(34, 34, 34);
}
.smart-pricing .blue-btn {
	color: rgb(255, 255, 255); background-color: rgb(51, 153, 255);
}
.smart-pricing .blue-lite {
	color: rgb(255, 255, 255); background-color: rgb(51, 153, 255);
}
.smart-pricing .blue-dark {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 240);
}
.smart-pricing .blue-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(0, 120, 240);
}
.smart-pricing .green-btn {
	color: rgb(255, 255, 255); background-color: rgb(147, 194, 48);
}
.smart-pricing .green-lite {
	color: rgb(255, 255, 255); background-color: rgb(147, 194, 48);
}
.smart-pricing .green-dark {
	color: rgb(255, 255, 255); background-color: rgb(123, 164, 40);
}
.smart-pricing .green-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(123, 164, 40);
}
.smart-pricing .orange-btn {
	color: rgb(255, 255, 255); background-color: rgb(255, 174, 53);
}
.smart-pricing .orange-lite {
	color: rgb(255, 255, 255); background-color: rgb(255, 174, 53);
}
.smart-pricing .orange-dark {
	color: rgb(255, 255, 255); background-color: rgb(255, 128, 0);
}
.smart-pricing .orange-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(255, 128, 0);
}
.smart-pricing .red-btn {
	color: rgb(255, 255, 255); background-color: rgb(240, 61, 0);
}
.smart-pricing .red-lite {
	color: rgb(255, 255, 255); background-color: rgb(240, 61, 0);
}
.smart-pricing .red-dark {
	background-color: rgb(204, 51, 0);
}
.smart-pricing .red-btn:hover {
	background-color: rgb(204, 51, 0);
}
.smart-pricing .monoblue1-btn {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue-top-1 {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue-bottom-1 {
	color: rgb(255, 255, 255); background-color: rgb(100, 195, 222);
}
.smart-pricing .monoblue1-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(100, 195, 222);
}
.smart-pricing .monoblue2-btn {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue-top-2 {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue-bottom-2 {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue2-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(138, 186, 220);
}
.smart-pricing .monoblue3-btn {
	color: rgb(255, 255, 255); background-color: rgb(118, 157, 186);
}
.smart-pricing .monoblue-top-3 {
	color: rgb(255, 255, 255); background-color: rgb(118, 157, 186);
}
.smart-pricing .monoblue-bottom-3 {
	color: rgb(255, 255, 255); background-color: rgb(118, 157, 186);
}
.smart-pricing .monoblue3-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(118, 157, 186);
}
.smart-pricing .monoblue4-btn {
	color: rgb(255, 255, 255); background-color: rgb(92, 123, 146);
}
.smart-pricing .monoblue-top-4 {
	color: rgb(255, 255, 255); background-color: rgb(92, 123, 146);
}
.smart-pricing .monoblue-bottom-4 {
	color: rgb(255, 255, 255); background-color: rgb(92, 123, 146);
}
.smart-pricing .monoblue4-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(92, 123, 146);
}
.smart-pricing .monogreen1-btn {
	color: rgb(255, 255, 255); background-color: rgb(131, 193, 69);
}
.smart-pricing .monogreen-top-1 {
	color: rgb(255, 255, 255); background-color: rgb(131, 193, 69);
}
.smart-pricing .monogreen-bottom-1 {
	color: rgb(255, 255, 255); background-color: rgb(150, 205, 86);
}
.smart-pricing .monogreen1-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(150, 205, 86);
}
.smart-pricing .monogreen2-btn {
	color: rgb(255, 255, 255); background-color: rgb(68, 152, 43);
}
.smart-pricing .monogreen-top-2 {
	color: rgb(255, 255, 255); background-color: rgb(68, 152, 43);
}
.smart-pricing .monogreen-bottom-2 {
	color: rgb(255, 255, 255); background-color: rgb(85, 169, 56);
}
.smart-pricing .monogreen2-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(85, 169, 56);
}
.smart-pricing .monogreen3-btn {
	color: rgb(255, 255, 255); background-color: rgb(24, 109, 49);
}
.smart-pricing .monogreen-top-3 {
	color: rgb(255, 255, 255); background-color: rgb(24, 109, 49);
}
.smart-pricing .monogreen-bottom-3 {
	color: rgb(255, 255, 255); background-color: rgb(32, 130, 64);
}
.smart-pricing .monogreen3-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(32, 130, 64);
}
.smart-pricing .monogreen4-btn {
	color: rgb(255, 255, 255); background-color: rgb(10, 73, 69);
}
.smart-pricing .monogreen-top-4 {
	color: rgb(255, 255, 255); background-color: rgb(10, 73, 69);
}
.smart-pricing .monogreen-bottom-4 {
	color: rgb(255, 255, 255); background-color: rgb(14, 91, 86);
}
.smart-pricing .monogreen4-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(14, 91, 86);
}
.smart-pricing .monobrown1-btn {
	color: rgb(255, 255, 255); background-color: rgb(240, 177, 40);
}
.smart-pricing .monobrown-top-1 {
	color: rgb(255, 255, 255); background-color: rgb(240, 177, 40);
}
.smart-pricing .monobrown-bottom-1 {
	color: rgb(255, 255, 255); background-color: rgb(243, 191, 52);
}
.smart-pricing .monobrown1-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(243, 191, 52);
}
.smart-pricing .monobrown2-btn {
	color: rgb(255, 255, 255); background-color: rgb(237, 128, 0);
}
.smart-pricing .monobrown-top-2 {
	color: rgb(255, 255, 255); background-color: rgb(237, 128, 0);
}
.smart-pricing .monobrown-bottom-2 {
	color: rgb(255, 255, 255); background-color: rgb(241, 147, 0);
}
.smart-pricing .monobrown2-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(241, 147, 0);
}
.smart-pricing .monobrown3-btn {
	color: rgb(255, 255, 255); background-color: rgb(216, 82, 0);
}
.smart-pricing .monobrown-top-3 {
	color: rgb(255, 255, 255); background-color: rgb(216, 82, 0);
}
.smart-pricing .monobrown-bottom-3 {
	color: rgb(255, 255, 255); background-color: rgb(224, 100, 0);
}
.smart-pricing .monobrown3-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(224, 100, 0);
}
.smart-pricing .monobrown4-btn {
	color: rgb(255, 255, 255); background-color: rgb(181, 40, 11);
}
.smart-pricing .monobrown-top-4 {
	color: rgb(255, 255, 255); background-color: rgb(181, 40, 11);
}
.smart-pricing .monobrown-bottom-4 {
	color: rgb(255, 255, 255); background-color: rgb(195, 53, 15);
}
.smart-pricing .monobrown4-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(195, 53, 15);
}
.smart-pricing .monopurple1-btn {
	color: rgb(255, 255, 255); background-color: rgb(116, 104, 164);
}
.smart-pricing .monopurple-top-1 {
	color: rgb(255, 255, 255); background-color: rgb(116, 104, 164);
}
.smart-pricing .monopurple-bottom-1 {
	color: rgb(255, 255, 255); background-color: rgb(134, 124, 175);
}
.smart-pricing .monopurple1-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(134, 124, 175);
}
.smart-pricing .monopurple2-btn {
	color: rgb(255, 255, 255); background-color: rgb(96, 83, 134);
}
.smart-pricing .monopurple-top-2 {
	color: rgb(255, 255, 255); background-color: rgb(96, 83, 134);
}
.smart-pricing .monopurple-bottom-2 {
	color: rgb(255, 255, 255); background-color: rgb(112, 97, 155);
}
.smart-pricing .monopurple2-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(112, 97, 155);
}
.smart-pricing .monopurple3-btn {
	color: rgb(255, 255, 255); background-color: rgb(81, 65, 114);
}
.smart-pricing .monopurple-top-3 {
	color: rgb(255, 255, 255); background-color: rgb(81, 65, 114);
}
.smart-pricing .monopurple-bottom-3 {
	color: rgb(255, 255, 255); background-color: rgb(96, 77, 135);
}
.smart-pricing .monopurple3-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(96, 77, 135);
}
.smart-pricing .monopurple4-btn {
	color: rgb(255, 255, 255); background-color: rgb(68, 49, 91);
}
.smart-pricing .monopurple-top-4 {
	color: rgb(255, 255, 255); background-color: rgb(68, 49, 91);
}
.smart-pricing .monopurple-bottom-4 {
	color: rgb(255, 255, 255); background-color: rgb(83, 61, 113);
}
.smart-pricing .monopurple4-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(83, 61, 113);
}
.smart-pricing .monoblack1-btn {
	color: rgb(255, 255, 255); background-color: rgb(198, 198, 198);
}
.smart-pricing .monoblack-top-1 {
	color: rgb(255, 255, 255); background-color: rgb(198, 198, 198);
}
.smart-pricing .monoblack-bottom-1 {
	color: rgb(255, 255, 255); background-color: rgb(198, 198, 198);
}
.smart-pricing .monoblack1-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(198, 198, 198);
}
.smart-pricing .monoblack2-btn {
	color: rgb(255, 255, 255); background-color: rgb(163, 163, 163);
}
.smart-pricing .monoblack-top-2 {
	color: rgb(255, 255, 255); background-color: rgb(163, 163, 163);
}
.smart-pricing .monoblack-bottom-2 {
	color: rgb(255, 255, 255); background-color: rgb(163, 163, 163);
}
.smart-pricing .monoblack2-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(163, 163, 163);
}
.smart-pricing .monoblack3-btn {
	color: rgb(255, 255, 255); background-color: rgb(111, 111, 111);
}
.smart-pricing .monoblack-top-3 {
	color: rgb(255, 255, 255); background-color: rgb(111, 111, 111);
}
.smart-pricing .monoblack-bottom-3 {
	color: rgb(255, 255, 255); background-color: rgb(111, 111, 111);
}
.smart-pricing .monoblack3-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(111, 111, 111);
}
.smart-pricing .monoblack4-btn {
	color: rgb(255, 255, 255); background-color: rgb(79, 79, 79);
}
.smart-pricing .monoblack-top-4 {
	color: rgb(255, 255, 255); background-color: rgb(79, 79, 79);
}
.smart-pricing .monoblack-bottom-4 {
	color: rgb(255, 255, 255); background-color: rgb(79, 79, 79);
}
.smart-pricing .monoblack4-btn:hover {
	color: rgb(255, 255, 255); background-color: rgb(79, 79, 79);
}
.smart-pricing .ribbon {
	top: 1px; width: 75px; height: 78px; right: 88px; overflow: hidden; position: absolute; z-index: 1;
}
.smart-pricing .ribbon-large {
	top: 1px; width: 75px; height: 78px; right: 88px; overflow: hidden; position: absolute; z-index: 1;
}
.smart-pricing .ribbon-inner {
	padding: 7px 0px; left: 3px; top: 6px; width: 100px; text-align: center; color: rgb(255, 255, 255); letter-spacing: 4px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; font-weight: 700; position: relative; z-index: 1; box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.15); transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15); -o-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15); -webkit-backface-visibility: hidden; -webkit-perspective: 1000;
}
.smart-pricing .ribbon-inner::before {
	bottom: -3px; border-top-color: currentColor; border-right-color: transparent; border-left-color: transparent; border-top-width: 3px; border-right-width: 3px; border-left-width: 3px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
.smart-pricing .ribbon-inner::after {
	bottom: -3px; border-top-color: currentColor; border-right-color: transparent; border-left-color: transparent; border-top-width: 3px; border-right-width: 3px; border-left-width: 3px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
.smart-pricing .ribbon-inner::before {
	left: 0px;
}
.smart-pricing .ribbon-inner::after {
	right: 0px;
}
.smart-pricing .ribbon-large {
	width: 115px; height: 118px;
}
.smart-pricing .ribbon-large .ribbon-inner {
	left: -8px; top: 28px; width: 160px;
}
.smart-pricing .ribbon-inner-green {
	background: rgb(14, 153, 60);
}
.smart-pricing .ribbon-inner-green::before {
	border-top-color: rgb(11, 121, 47);
}
.smart-pricing .ribbon-inner-green::after {
	border-top-color: rgb(11, 121, 47);
}
.smart-pricing .ribbon-inner-lite-green {
	background: rgb(78, 189, 74);
}
.smart-pricing .ribbon-inner-lite-green::before {
	border-top-color: rgb(60, 155, 57);
}
.smart-pricing .ribbon-inner-lite-green::after {
	border-top-color: rgb(60, 155, 57);
}
.smart-pricing .ribbon-inner-black {
	background: rgb(51, 51, 51);
}
.smart-pricing .ribbon-inner-black::before {
	border-top-color: rgb(17, 17, 17);
}
.smart-pricing .ribbon-inner-black::after {
	border-top-color: rgb(17, 17, 17);
}
.smart-pricing .ribbon-inner-red {
	background: rgb(238, 79, 61);
}
.smart-pricing .ribbon-inner-red::before {
	border-top-color: rgb(228, 41, 20);
}
.smart-pricing .ribbon-inner-red::after {
	border-top-color: rgb(228, 41, 20);
}
.smart-pricing .ribbon-inner-yellow {
	background: rgb(250, 162, 38);
}
.smart-pricing .ribbon-inner-yellow::before {
	border-top-color: rgb(232, 138, 5);
}
.smart-pricing .ribbon-inner-yellow::after {
	border-top-color: rgb(232, 138, 5);
}
.smart-pricing .ribbon-inner-purple {
	background: rgb(148, 100, 226);
}
.smart-pricing .ribbon-inner-purple::before {
	border-top-color: rgb(118, 57, 218);
}
.smart-pricing .ribbon-inner-purple::after {
	border-top-color: rgb(118, 57, 218);
}
.smart-pricing .ribbon-inner-blue {
	background: rgb(0, 172, 238);
}
.smart-pricing .ribbon-inner-blue::before {
	border-top-color: rgb(0, 135, 187);
}
.smart-pricing .ribbon-inner-blue::after {
	border-top-color: rgb(0, 135, 187);
}
.sptip {
	text-decoration: none; margin-left: 4px; float: right; position: relative; cursor: help;
}
.sptip .sptip-content {
	padding: 0.8em 1em; transition:margin 0.6s, opacity 0.6s, visibility 0.6s; left: -9999em; text-align: left; bottom: 100%; color: rgb(255, 255, 255); margin-bottom: -20px; visibility: hidden; position: absolute; opacity: 0; text-shadow: none; -webkit-transition: margin 0.6s, opacity 0.6s, visibility 0.6s; -moz-transition: margin 0.6s, opacity 0.6s, visibility 0.6s; -o-transition: margin 0.6s, opacity 0.6s, visibility 0.6s;
}
.sptip:hover .sptip-content {
	border-radius: 3px; left: -12em; width: 14em; margin-bottom: 10px; visibility: visible; z-index: 99; opacity: 0.95; background-color: rgb(0, 0, 0); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.sptip .sptip-content::after {
	top: 100%; right: 12px; border-top-color: rgb(0, 0, 0); border-right-color: transparent; border-left-color: transparent; border-top-width: 8px; border-right-width: 8px; border-left-width: 8px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
@media only screen and (max-width:980px) and (min-width:769px)
{
.smart-pricing .six-colm .pricing-button {
	font-size: 1em;
}
.smart-pricing .four-colm .pricing-button {
	font-size: 1em;
}
.smart-pricing .five-colm .pricing-button {
	font-size: 1em;
}
.smart-pricing .six-colm .pricing-button {
	font-size: 1.4em;
}
.smart-pricing .six-colm ul li {
	font-size: 13px;
}
.smart-pricing .four-colm ul li {
	font-size: 13px;
}
.smart-pricing .five-colm ul li {
	font-size: 13px;
}
.smart-pricing .six-colm .pricing-button {
	font-size: 1.4em;
}
.smart-pricing .six-colm .colm {
	width: 33.33%; margin-bottom: 25px;
}
.smart-pricing .five-colm .colm {
	width: 33.33%; margin-bottom: 25px;
}
.smart-pricing .four-colm .colm {
	width: 50%; margin-bottom: 25px;
}
}
@media all and (max-width:768px)
{
.smart-pricing:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing:hover .dark-style .featured-package {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing:hover .elegant-style .featured-package {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .dark-style .colm-list:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .dark-style .featured-package:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .dark-style .featured-package {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .elegant-style .featured-package {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .dark-style .colm-list:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .elegant-style .colm-list:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .dark-style .featured-package:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing .elegant-style .featured-package:hover {
	z-index: 1; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -o-box-shadow: none;
}
.smart-pricing:hover .dark-style .featured-package {
	margin: 0px;
}
.smart-pricing:hover .elegant-style .featured-package {
	margin: 0px;
}
.smart-pricing:hover .dark-style .featured-package .pricing-footer {
	padding: 20px;
}
.smart-pricing:hover .elegant-style .featured-package .pricing-footer {
	padding: 20px;
}
.smart-pricing .dark-style .colm-list:hover .pricing-footer {
	padding: 20px;
}
.smart-pricing .elegant-style .colm-list:hover .pricing-footer {
	padding: 20px;
}
.smart-pricing .dark-style .featured-package .pricing-footer {
	padding: 20px;
}
.smart-pricing .elegant-style .featured-package .pricing-footer {
	padding: 20px;
}
.smart-pricing .dark-style .featured-package:hover .pricing-footer {
	padding: 20px;
}
.smart-pricing .elegant-style .featured-package:hover .pricing-footer {
	padding: 20px;
}
.smart-pricing .dark-style .featured-package .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .elegant-style .featured-package .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing:hover .dark-style .featured-package .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing:hover .elegant-style .featured-package .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .dark-style .colm-list:hover .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .elegant-style .colm-list:hover .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .dark-style .featured-package:hover .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .elegant-style .featured-package:hover .pricing-header h2 span {
	font-size: 46px;
}
.smart-pricing .dark-style .colm-list:hover {
	margin: 0px; top: 0px; position: relative;
}
.smart-pricing .elegant-style .colm-list:hover {
	margin: 0px; top: 0px; position: relative;
}
.smart-pricing .dark-style .featured-package:hover {
	margin: 0px; top: 0px; position: relative;
}
.smart-pricing .elegant-style .featured-package:hover {
	margin: 0px; top: 0px; position: relative;
}
.smart-pricing .pricing-tables {
	margin: 0px;
}
.smart-pricing .five-colm .colm {
	margin-top: 0px; margin-bottom: 30px;
}
.smart-pricing .four-colm .colm {
	margin-top: 0px; margin-bottom: 30px;
}
.smart-pricing .pricing-tables .colm-list {
	margin-top: 0px; margin-bottom: 30px;
}
.smart-pricing .pricing-tables .colm {
	padding: 0px; width: 100%; float: none;
}
.smart-pricing .six-colm .pricing-button {
	font-size: 1.4em;
}
.smart-pricing .comparison-table .features-list {
	display: none;
}
.smart-pricing .comparison-table ul li::before {
	text-align: center; font-weight: 700; margin-bottom: 5px; display: block; content: attr(data-feature);
}
}
